.visualizationPanel {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 0px;
  padding: 1rem;
  min-height: 400px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panelContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.panelContent::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: #000000;
  transform: translateX(-50%);
}
